doctype html
html(lang='en')
  head
    title week2 Homework
  body
    h1 week2 Homework: Express (#{title})
    #container.col
      p week2 Homework: Express
      p | ヽ(●´∀`●)ﾉ  Author: Nico ᶑ(ᵔ・∀・ᵔ)/⎱(❍⍝❍U)⌳
      p | - 簡單自我介紹 ● 我是梁瑜芳，目前就讀國立暨南國際大學 資訊管理研究所。
      p | - 接下來的課程會希望多聽到哪一方面的教學？ ● 前端網頁程式設計（背景、當前應用、延伸應用）
      p | - 這次作業對你而言難度？(沒難度 0 - 5 太難了) ● 3分
      p | - 其他想說的話 ● 希望授課者能在教學時也可發表一些自己的經驗分享（？
   